<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Milionerzy | Rejestracta</title>
</head>
<body>
    <h1>Rejestracja</h1>
    <a href="/" th:href="@{/}">Back to main page</a>

    <p th:text="${error}" style="color: red;"></p>

    <form th:action="@{/register}" th:method="post" th:object="${user}">
        <input type="text" placeholder="Username" th:field="*{username}">
        <input type="password" placeholder="Password" th:field="*{password}">
        <input type="submit" value="Rejestracja">
    </form>
</body>
</html>